@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2D2D2D;
  border-radius: 20px;
  border: 2px solid #202020;
}

.list {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.list.expand {
  height: calc-size(auto);
}